{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}

<section>
    <h2>The world of Jurassic Park</h2>
{% for dino in dinos %}
    <a href="{{ url_for ('dino', slug=dino.slug) }}">
            <figure>
                <img src="{{dino.avatar}}" alt="{{dino.name}}" />
                <figcaption> Discover the {{dino.slug}} </figcaption>
            </figure>
        </a>

{% endfor %}
</section>
{% endblock %}
